/*默认样式的清零*/ 
*{
	margin: 0px;
	padding: 0;
}

body {  
	font-size:16px; 
	background-color:whitesmoke;
    margin:0 auto; /*水平居中*/
	width:100%; 	
}
header > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;  
}
header > ul > li {
    display: inline; 
    text-align: center;
	margin: 0 10px;  
	margin-left: 100px;
}
#header-buttons button {    
    background-color: rgb(189, 168, 140); /* 绿色背景 */    
    border: none;    
    color: white;    
    padding: 10px 20px;    
    text-align: center;    
    text-decoration: none;    
    display: inline-block;    
    font-size: 20px;    
    margin: 2px 5px;    
    cursor: pointer;    
    margin-left: 50px;  
    border-radius: 5px; /* 可选：给按钮添加圆角 */    
    width: 100px;  
    height: 50px;  
    transition: background-color 0.3s ease; /* 添加过渡效果 */  
}  
  
#header-buttons {  
    text-align: center;  
}  
  
#header-buttons button:hover {    
    background-color: #543125; /* 鼠标悬停时颜色稍暗 */    
}  
  
#header-buttons button.active {    
    background-color: #543125; /* 被点击时的颜色，但会立即恢复 */  
}  

header { 
	height: 100%;/*必须添加，否则header下面有10px而不是5px空白*/
    width: 100%;
    background-color:#453029;
    
}
header > img {
    width: 100%;
    height: 500px;
    padding-bottom: 25px;
}
header > ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%
}

#nav{ 
	height:20px;	
	background-color: white; 		
	font: 18px/30px 微软雅黑;
	color: #dc8d8d;
	letter-spacing: 2px;
    text-align: center;
}

main {
    height: auto;
    width:100%;
}

#process p{
    background-color: #543125;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 华文新魏;
}
#process img{
    height: 500px;
    width: 55%;
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#tool p{
    background-color: #543125;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 华文新魏;
}
.container {  
    width: 80%; /* 将容器宽度设置为一个较小的百分比，以便在屏幕上居中 */  
    margin: 0 auto; /* 自动左右边距，使容器居中 */  
    overflow: hidden; /* 清除浮动 */  
}  
  
#content1, #content2, #content3 {  
    float: left;  
    /* 调整宽度以适应三列布局，并考虑到边距 */  
    width: calc(32.66667% - 2%); /* 使用 calc() 函数计算宽度，减去左右边距的总和 */  
    margin: 1% 1%; /* 为每列添加一些顶部和侧边距 */  
    box-sizing: border-box; /* 包括边距和边框在内计算元素的总宽度和高度 */  
}  
  

#content1 p, #content2 p, #content3 p {  
    color: #543125;  
    font-family: '华文隶书', sans-serif;  
    font-size: 30px;  
    margin-left: 5px;  
}  

#content1 img, #content2 img, #content3 img {  
    width: 80%; 
    height: 250px;;  
    border-radius: 8%;  
}  

#footer { 
	height:auto; 
	position: static;
	background-color: #333;
	clear:both; /*新加代码*/
	margin-top: 20px;
	text-align: center;
    color: rgb(189, 168, 140);
    padding: 20px 0;
    font-size:1.5vw;
}

