/*默认样式的清零*/ 
*{
	margin: 0px;
	padding: 0;
}

body {  
	font-size:16px; 
	background-color:whitesmoke;
    margin:0 auto; /*水平居中*/
	width:100%; 	
}
header > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;  
}
header > ul > li {
    display: inline; 
    text-align: center;
	margin: 0 10px;  
	margin-left: 100px;
}
#header-buttons button {    
    background-color: rgb(189, 168, 140); /* 绿色背景 */    
    border: none;    
    color: white;    
    padding: 10px 20px;    
    text-align: center;    
    text-decoration: none;    
    display: inline-block;    
    font-size: 20px;    
    margin: 2px 5px;    
    cursor: pointer;    
    margin-left: 50px;  
    border-radius: 5px; /* 可选：给按钮添加圆角 */    
    width: 100px;  
    height: 50px;  
    transition: background-color 0.3s ease; /* 添加过渡效果 */  
}  
  
#header-buttons {  
    text-align: center;  
}  
  
#header-buttons button:hover {    
    background-color: #543125; /* 鼠标悬停时颜色稍暗 */    
}  
  
#header-buttons button.active {    
    background-color: #543125; /* 被点击时的颜色，但会立即恢复 */  
}  

header { 
	height: 100%;/*必须添加，否则header下面有10px而不是5px空白*/
    width: 100%;
    background-color:#453029;
    
}
header > img {
    width: 100%;
    height: 500px;
    padding-bottom: 25px;
}
header > ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%
}

#nav{ 
	height:20px;	
	background-color: white; 		
	font: 18px/30px 微软雅黑;
	color: #dc8d8d;
	letter-spacing: 2px;
    text-align: center;
}

main {
    height: auto;
    width:100%;
}
#Bean p{
    background-color: #543125;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 华文新魏;
}
.item {  
    width: 100%;  
    margin: 0 auto;  
    display: flex;  
    flex-wrap: wrap; /* 允许子元素换行，但在这里我们实际上不希望它们换行 */  
    justify-content: center; /* 使子元素在主轴（水平方向）上居中 */  
}  
  
.image-text-pair {  
    display: flex;  
    flex-direction: column; /* 使得图片和文本垂直排列 */  
    align-items: center; /* 垂直居中 */  
    width: 33.333%; /* 或 width: 100% / 3; 每个子元素占据大约三分之一的宽度 */  
    box-sizing: border-box; /* 包括padding和border在内计算元素的总宽度和高度 */  
}  
  
.image-wrapper {  
    padding-left: 10px; /* 左侧边距 */  
    padding-right: 10px; /* 右侧边距 */  
    box-sizing: border-box; /* 确保padding包含在总宽度内 */  
}  
  
.image-wrapper img {  
    margin-top: 2%;
    width: 100%;  
    height: auto;  
}  
  
.text-wrapper {  
    padding: 10px; /* 可选：为文本添加一些内边距 */
    
}
  


#Coffee p{
    background-color: #543125;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 华文新魏;
}
#Coffee img{
    height: 100%x;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 2%;
    margin-top: 2%;
}

#footer { 
	height:auto; 
	position: static;
	background-color: #333;
	clear:both; /*新加代码*/
	margin-top: 20px;
	text-align: center;
    color: rgb(189, 168, 140);
    padding: 20px 0;
    font-size:1.5vw;
}

