 
body, html {  
    height: 100%;  
    margin: 0;  
    font-family: Arial, sans-serif;  
    position: relative;  
    overflow-x: hidden;   
}  
  
body {  
    background-image: url('background.jpg');  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    padding: 0;  
    box-sizing: border-box;   
}  
    
.container {  
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    max-width: 100%;   
    width: 90%;   
    margin: 0 auto;  
    text-align: center;  
    box-sizing: border-box;  
}  
    
input[type="text"], input[type="email"], input[type="password"] {  
    width: calc(100% - 22px);  
    padding: 10px;  
    margin: 10px 0;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    box-sizing: border-box;  
}  
    
button {  
    width: 100%;  
    padding: 10px;  
    background-color: rgb(156, 122, 106);  
    color: white;  
    border: none;  
    border-radius: 4px;  
    cursor: pointer;  
    box-sizing: border-box;  
}  
  
button:hover {  
    background-color: rgb(77, 40, 23);  
}  
   
#message {  
    margin-top: 10px;  
}  
    
.back-button {  
    position: absolute;  
    top: 10px;  
    left: 10px;  
    font-size: 1.5em;  
    font-family: Arial;  
    background-color: rgb(189, 168, 140);  
    padding: 10px 20px;   
    border-radius: 4px;  
    box-sizing: border-box;  
}  
    
footer {  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    background: #333;  
    padding: 10px;  
    color: #c5b4b4;  
    text-align: center;  
    font-size: 1.5vw; 
}  
    
@media (min-width: 768px) {  
    .container {  
        width: 600px;   
    }  
  
    .back-button {  
        width: auto;  
    }  
}  
  
@media (min-width: 1024px) {  
    .container {  
        width: 80%; 
    }  
}