@charset "utf-8";  
  
html {  
    background: whitesmoke;  
}  
  
body, html {  
    margin: 0;  
    padding: 0;  
    width: 100%;  
    height: 100%;  
}  
  
header {  
    background: rgb(77, 40, 23);  
    color: whitesmoke;  
    padding: 2px;  
    text-align: center;  
}   

body > h2 {  
    background: rgb(77, 40, 23);  
    color: whitesmoke;  
    padding: 20px;  
    text-align: center;  
}    
.image-container, .full-screen-image {  
    width: 100%;  
    height: auto;  
}   
  
.full-screen-image {  
    width: 100%;   
    height: auto;  
    display: block; 
}  
  
#header-buttons button { 
    padding: 1vw 2vw; /* 使用vw单位 */  
    font-size: 2.5vw; /* 使用vw单位 */  
    margin-left: 5vw; /* 使用vw单位 */  
    width: 30vw; /* 使用vw单位 */  
    height: auto; /* 保持按钮比例 */ 
    background-color: rgb(189, 168, 140);
    border: none; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin: 2px 5px; 
    cursor: pointer; 
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 5px;
} 

#header-buttons{
  text-align: center;
}

#header-buttons button:hover { 
  background-color: #543125; 
}

#header-buttons .first-button {  
    background-color: #543125;  
} 

footer {
    background:#333;
    padding:10px;
    color:#c5b4b4;
    text-align: center; 
    font-size:1.5vw;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
body > nav {
    background-color: #333;
    position: relative;
}
      
body > nav > ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body > nav > ul > li {
    position: relative;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-left: 0;
    font-size:2.5vw;
    font-family: 华文新魏;
  }

  @media (max-width: 400px) {  
    body > nav > ul > li {
      font-size:2.0vw;
    }
  }  
    
body nav ul li a {
    text-decoration: none; 
    color: white; 
}
    
body > nav > ul li ul {  
    display: none;  
    position: absolute;  
    top: 100%;  
    left: 0;   
    background-color: #333;  
    list-style-type: none;   
    padding: 0;   
    font-size:1.8vw;
    width:180px;
}  
      
body > nav > ul > li:hover > ul {
    display: block;
}
      
body > nav > ul ul li {
    width: 100%;
    padding:10px;
    font-family: 华文新魏;
}
      
body > nav > p {
    font-family:华文隶书;
    color:rgb(234, 214, 192);
    font-size:4.5vw;
    padding-top: 20px;
    padding-left:5%;
    margin-top:0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

#logo {
    width: 10.0vw;
    border-radius: 30%;
}
      